body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #297B6C;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin-top: 25px;
  text-align: center;
}

@media only screen and (min-width : 768px) {
  .container {
    margin-top: 75px;
  }
}

h1 {
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 0px;
  color: #30223B;
}

p {
  color: #30223B;
  opacity: .5;
  margin-bottom: 30px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li { position: relative; }

a {
  display: block;
  padding: 20px;
  color: #297B6C;
  text-decoration: none;
  transition: all .2s ease;
}

a:hover {
  background-color: #D1DBBD;
}

.coming-soon::after {
  content: "*";
  position: absolute;
  color: #ECB24E;
  margin-left: 2px;
}

.coming-soon:hover::after { color: #fff; }

.pic {
  border-radius: 50%;
  width: 180px;
  margin-bottom: 5px;
}

.footer {
  padding: 10px;
  color: #fff;
  background-color: #ECB24E;
  text-align: center;
  margin: 30px 0;
}

@media only screen and (min-width : 768px) {
  .footer {
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.bg--blue:hover { background-color: #203583; color: #FFF; }
.bg--pink:hover { background-color: #D32C50; color: #FFF; }
.bg--green:hover { background-color: #297B6C; color: #FFF; }
.bg--purple:hover { background-color: #30223B; color: #FFF; }
