// VARIABLES
//

// TYPOGRAPHY
$font-brand: "din-2014", Arial, sans-serif;
$font-default: "Source Sans Pro", Arial, sans-serif;

// COLOR PALETTE
$navy: #0e2b3c;
$gray-dark: #7d8e98;
$red: #fa5457;
$blue: #08d1ef;
$yellow: #fae064;
$gray: #f9f9f9;
$white: #fff;
$black: #000;

// // GRID SYSTEM
// $grid-breakpoints: (
//   xs: 0,
//   sm: 480px,
//   md: 768px,
//   lg: 1024px
// );

// $container-max-widths: (
//   sm: 420px,
//   md: 720px,
//   lg: 960px,
// );

// $grid-columns: 12;
// $grid-gutter-width: 30px;
