// BASE
//

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $white;
  color: $black;
  font-family: $font-brand;
  font-size: $font-size-root;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: $red;
  color: $white;
}

.section {
  position: relative;
  height: 100vh;
  max-height: 1000px;
  width: 100vw;
}

.content {
  margin: 0 auto;
  max-width: 800px;
  padding: 25px;
  text-align: center;

  @media only screen and (min-width : 768px) {
    padding: 50px;
  }
}
