// LISTS
//

.list-inline {
  list-style: none;
  margin: 0;
  padding: 0;
  user-select: none;

  li {
    display: inline-block;
    padding: 0 5px;
  }

  a {
    color: inherit;
    text-decoration: none;
    transition: color .2s ease;

    &:hover {
      color: $red;
    }
  }
}
