// NAV
//

.nav {
  padding: 50px;

  @media only screen and (min-width : 768px) {
    padding: 100px;
  }
}

.brand {
  color: inherit;
  display: block;
  font-size: $font-size-sm;
  font-weight: 900;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: $red;
    transition: color .2s ease;
  }

  @media only screen and (min-width : 768px) {
    text-align: left;
  }
}

.continue {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
  text-align: center;
  font-size: 32px;
}

.continue a {
  color: $red;
}
