// VARIABLES
//

// TYPOGRAPHY
$font-brand: "din-2014", Arial, sans-serif;
$font-default: "Source Sans Pro", Arial, sans-serif;

// COLOR PALETTE
$navy: #0E2B3C;
$gray-dark: darken(#7D8E98, 5%);
$red: #FA5457;
$blue: #08D1EF;
$gray: #F9F9F9;
$white: #FFF;

// // GRID SYSTEM
// $grid-breakpoints: (
//   xs: 0,
//   sm: 480px,
//   md: 768px,
//   lg: 1024px
// );

// $container-max-widths: (
//   sm: 420px,
//   md: 720px,
//   lg: 960px,
// );

// $grid-columns: 12;
// $grid-gutter-width: 30px;