// VARIABLES
//

// TYPOGRAPHY
$font-brand: "ff-dagny-web-pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-lg: 44px;
$font-size-root: 18px;
$font-size-sm: 13px;

// COLOR PALETTE
$black: #222;
$red: #f85a43;
$white: #fff;
